<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRERUaKEl8KS1S6wUiprItc3Q31W9LA1A</string>
	<key>GCM_SENDER_ID</key>
	<string>924486442189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YeonBa</string>
	<key>PROJECT_ID</key>
	<string>notification-test-1fa8b</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-test-1fa8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924486442189:ios:966f5fe24e035fb49e9d84</string>
</dict>
</plist>